@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Lato', sans-serif;
}

.slider-1{
    background-image: url('/src/assets/images/slider-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider-2{
    background-image: url('/src/assets/images/slider-2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slider-3{
    background-image: url('/src/assets/images/slider-3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.active-link{
    color: #A69BFB;
    text-decoration: underline;
}